.root {
position: relative;
}
.input {
   border: 1px solid rgba(0,0,0, 0.1);
   padding: 12px 40px 12px 42px;
   width: 300px;
   border-radius: 10px;
   font-size: 16px;
   transition: all 0.3s ease 0s;
   &:focus {
      border: 1px solid rgba(0,0,0, 0.5);
   }
}
.icon {
   width: 22px;
   height: 22px;
   opacity: 0.3;
   position: absolute;
   left: 12px;
   top: 12px;
}
.close{
   width: 22px;
   height: 22px;
   position: absolute;
   top: 12px;
   right: 12px;
   opacity: 0.3;
   transition: all 0.3s ease 0s;
   cursor: pointer;
   @media (any-hover: hover){
      &:hover{
         opacity: 0.8;
      }
   }
}